<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      internalLogLevel="info" 
      internalLogFile="internalLog.txt" >
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- write to file -->
    <target xsi:type="File" 
            name="alldata"  
            fileName="${basedir}\logs\logMediaConnets.log" 
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"  
            archiveFileName = "${basedir}\logs\logMediaConnets-{########}.log"  
            archiveNumbering = "Date"  
            archiveDateFormat = "yyyyMMdd"  
            maxArchiveFiles = "1"  
            />
    <!-- another file log. Uses some ASP.NET core renderers -->
    <!--<target xsi:type="File" 
            name="otherFile-web" 
            fileName="${basedir}\logs\log-Other-${shortdate}.log" 
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            />-->
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Warning" writeTo="alldata" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!--<logger name="*" minlevel="Warning" writeTo="otherFile-web" />-->
  </rules>
</nlog>
